@import url("https://fonts.googleapis.com/css?family=Raleway:200,600&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext");
* {
  box-sizing: border-box;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  float: left;
  width: 100%;
}

body {
  background: url("https://image.ibb.co/jjsJVd/bg_image_filtered.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1200px;
}

.reset, body, .navbar ul {
  margin: 0;
  padding: 0;
}

.navigation .logo {
  padding: 40px 0;
}

.navigation .logo img {
  width: 60%;
}

.navigation .hamburger {
  display: none;
}

.navbar .contact:hover a {
  color: #000;
}

.navbar ul {
  list-style-type: none;
  float: right;
  padding: 32px 0;
}

.navbar li {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 40px;
}

.navbar a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 600;
}

.navbar .contact {
  border: 2px solid #fff;
  padding: 8px 27px;
  border-radius: 5px;
}

.navbar .contact:hover {
  background-color: white;
  cursor: pointer;
  transition: .5s;
}

.navbar .underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.navbar .underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #fff;
  height: 3px;
  border-radius: 5px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.navbar .underline:hover:after,
.navbar .underline:focus:after,
.navbar .underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.hero-section {
  padding-top: 4%;
}

.hero-section .hero-text {
  text-align: center;
}

.hero-section h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 26px;
}

.hero-section .hero-span {
  color: #fff;
  font-weight: bold;
}

.hero-section .second-logo {
  padding-top: 11%;
}

.hero-section .wrapper {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .wrapper:hover {
  cursor: pointer;
}

.hero-section #svg-logo {
  transition: all 2s;
  height: 70%;
}

.footer {
  padding-top: 8%;
  font-family: 'Open Sans', sans-serif;
}

.footer .footer-text p {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.footer .socials {
  display: inline;
  padding-top: 15px;
  margin-left: 31%;
}

.footer .socials object {
  width: 12%;
  display: inline;
}

.footer .socials p {
  color: #fff;
  font-size: 14px;
  transform: translate(40px, -25px);
  margin: 0;
}

.footer .fb-social {
  transform: translate(0, -3px);
}

.footer .triangle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  vertical-align: middle;
  width: 60px;
  height: 30px;
  border-bottom: solid 55px #fff;
  border-left: solid 55px transparent;
  border-right: solid 55px transparent;
}

.footer .triangle .more-mobile {
  font-size: 14px;
  padding-top: 12px;
  margin-left: -20px;
}

.footer .triangle .plus-mobile {
  display: none;
}

.footer a {
  color: #000;
}

/* MEDIA QUERIES */
@media (min-width: 300px) and (max-width: 430px) {
  .navigation .logo {
    padding: 30px 0;
    text-align: center;
  }
  .navigation .logo img {
    width: 41%;
    margin-left: 23%;
  }
  .navigation .hamburger {
    display: block;
    width: 9%;
    padding-top: 28px;
  }
  .navbar {
    display: none;
  }
  .hero-section {
    padding-top: 0;
  }
  .hero-section h2 {
    margin: 0;
    font-size: 19px;
    padding: 0 49px;
    color: #fff;
  }
  .hero-section .col-offset-4 {
    margin: 0;
  }
  .hero-section .second-logo {
    padding-top: 0;
  }
  .hero-section #svg-logo {
    height: 60%;
  }
  .footer {
    padding-top: 0;
  }
  .footer .footer-text p {
    font-size: 10px;
    padding: 0 55px;
    margin: 0;
    font-weight: bold;
    line-height: 18px;
  }
  .footer .socials {
    display: block;
    padding: 37px 0 48px 0;
    margin-left: 34%;
  }
  .footer .socials object {
    width: 5%;
  }
  .footer .socials p {
    font-size: 12px;
    transform: translate(29px, -20px);
    margin: 0;
  }
  .footer .triangle {
    bottom: 0px;
    border-bottom: solid 30px #fff;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
  }
  .footer .triangle .more-mobile {
    display: none;
  }
  .footer .triangle .plus-mobile {
    display: block;
    margin: 6px -4px;
  }
}

/*
@media (min-width: 431px) and (max-width: 767px) { 

}

@media (min-width: 768px) and (max-width: 992px) { 

}

@media (min-width: 993px) and (max-width: 1200px) { 

}
*/
/* Vanilla-CSS GRID */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

.col-offset-12 {
  margin-left: 100%;
}

@media (max-width: 767px) {
  /* For mobile / tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* For desktop: */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */